table {
    border: 1px solid gray;
    border-collapse: collapse;
    margin: auto;
    }
th {border: 1px solid grey;
    background: rgb(180, 180, 180);
    font-style: oblique}
td {border: 1px solid grey;}

.norm {color: green;}
.exceed {color: red;}
.num_td {text-align: right;}


